############################
# Maven
############################
/target/
!.mvn/wrapper/maven-wrapper.jar

############################
# IntelliJ IDEA
############################
.idea/
*.iml
*.ipr
*.iws
out/

############################
# Compiled class files
############################
*.class

############################
# Logs
############################
*.log

############################
# Package files
############################
*.jar
*.war
*.nar
*.ear

############################
# OS files
############################
.DS_Store
Thumbs.db

############################
# JVM crash logs
############################
hs_err_pid*
replay_pid*

############################
# Temporary files
############################
*.tmp
*.swp
*.swo
/.idea/
